 [[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
easyocr = "*"
pillow = "*"
pyautogui = "*"
keyboard = "*"
opencv-python = "==4.5.1.48"
opencv-python-headless = "==4.5.1.48"

[dev-packages]

[requires]
python_version = "3.8"
